.blogTitle {
  color: green;
  font-size: 15px;
  border-style: solid;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 2px;
}

.blogDetail {
  color: floralwhite;
  background: green;
  font-size: 14px;
  border-style: solid;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 2px;
}
